# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
backend/env/
*.sqlite3
*.log
.env
backend/.env
backend/staticfiles/
backend/media/documents/
backend/media/uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Base de données et secrets
*.sql.dump
*.backup
db.sqlite3
local_settings.py

# OS
desktop.ini